<div class="cont">


    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h5>Linear Chart</h5>
                            </span>
                        </div>

                        <div class="card">

                            <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h5>Pie Chart</h5>
                            </span>
                        </div>
                        <div class="card flex flex-column align-items-center">

                            <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h5>Bar Chart</h5>
                            </span>
                        </div>

                        <div class="card">

                            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h5>Doughnut Chart</h5>
                            </span>
                        </div>
                        <div class="card flex flex-column align-items-center">

                            <p-chart type="doughnut" [data]="pieData" [options]="pieOptions"></p-chart>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>